attr==0.3.2
attrs==25.1.0
backports.tarfile==1.2.0
exceptiongroup==1.2.2
importlib-metadata==8.6.1
ipykernel==6.29.5
ipywidgets==8.1.5
jaraco.collections==5.1.0
linkify-it-py==2.0.3
mdit-py-plugins==0.4.2
memray==1.16.0
optuna==4.2.1
pandas==2.2.3
pickleshare==0.7.5
pip-chill==1.0.3
plotly==6.0.0
sentence-transformers==3.4.1
tiktoken==0.9.0
tomli==2.0.1
